.tags-space {
	width: 100%;
	height: 25px;
}
.tags-content {
	width: 100%;
	height: 35px;
	position: fixed;
	z-index: 99999;
	top: 60px;
	.el-tabs__header {
		margin: 0 !important;
	}
	.el-tabs__content {
		height: 0 !important;
	}
}
