# Project directories
dist
dist-ssr
tests
test
node_modules

# auto file when run serve
auto-imports.d.ts
components.d.ts

# local env files
.env.local
.env.*.local

# Log files
logs
*.log
*.log*

# Editor directories and files
.DS_Store
.hbuilderx
.idea
.vscode
.project
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.npmrc
.cache
.local
