# 兼容 peer dependencies
legacy-peer-deps = true

# 允许以下依赖运行构建脚本
only-built-dependencies[]=@parcel/watcher
only-built-dependencies[]=core-js
only-built-dependencies[]=sharp
only-built-dependencies[]=esbuild
only-built-dependencies[]=vue-demi
