@font-face {
	font-family: "PingFang";
	src: url("PingFang_Bold.ttf"), url("PingFang_ExtraLight.ttf"), url("PingFang_Heavy.ttf"), url("PingFang_Light.ttf"), url("PingFang_Medium.ttf"),
		url("PingFang_Regular.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "PingFangSC-Regular";
	src: url("PingFang_Bold.ttf"), url("PingFang_ExtraLight.ttf"), url("PingFang_Heavy.ttf"), url("PingFang_Light.ttf"), url("PingFang_Medium.ttf"),
		url("PingFang_Regular.ttf");
	font-weight: normal;
	font-style: normal;
}
