// 默认重写的颜色
$--colors: (
	"primary": (
		"base": #409eff,
	),
	"success": (
		"base": #67c23a,
	),
	"warning": (
		"base": #e6a23c,
	),
	"danger": (
		"base": #db2828,
	),
	"error": (
		"base": #db2828,
	),
	"info": (
		"base": #909399,
	),
);

// we can add this to custom namespace, default is 'el'
//@forward "element-plus/theme-chalk/src/mixins/config.scss" with (
//  $namespace: "el"
//);

// You should use them in scss, because we calculate it by sass.
// comment next lines to use default color
@forward "element-plus/theme-chalk/src/common/var.scss" with (
  // do not use same name, it will override.
  $colors: $--colors,
  $button-padding-horizontal: ("default": 50px)
);

// if you want to import all
@use "element-plus/theme-chalk/src/index.scss" as *;
@use "element-plus/theme-chalk/dark/css-vars.css" as *;

// You can comment it to hide debug info.
// @debug $--colors;

// custom dark variables
@use "./dark.scss";
