@font-face {
	font-family: "PingFang";
	src: url("./PingFangBold.ttf"), url("./PingFangExtraLight.ttf"), url("./PingFangHeavy.ttf"), url("./PingFangLight.ttf"), url("./PingFangMedium.ttf"),
		url("./PingFangRegular.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "PingFangSC-Regular";
	src: url("./PingFangBold.ttf"), url("./PingFangExtraLight.ttf"), url("./PingFangHeavy.ttf"), url("./PingFangLight.ttf"), url("./PingFangMedium.ttf"),
		url("./PingFangRegular.ttf");
	font-weight: normal;
	font-style: normal;
}
