@font-face {
	font-family: "iconfont"; /* Project id 2596500 */
	src: url("iconfont.eot?t=1659880724100"); /* IE9 */
	src: url("iconfont.eot?t=1659880724100#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("iconfont.woff2?t=1659880724100") format("woff2"),
		url("iconfont.woff?t=1659880724100") format("woff"), url("iconfont.ttf?t=1659880724100") format("truetype"),
		url("iconfont.svg?t=1659880724100#iconfont") format("svg");
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-zujian:before {
	content: "\e652";
}

.icon-zujian1:before {
	content: "\e730";
}

.icon-zujian2:before {
	content: "\e634";
}

.icon-duoyuyan:before {
	content: "\e655";
}

.icon-pifu:before {
	content: "\e647";
}

.icon-pifu1:before {
	content: "\e654";
}

.icon-shouye:before {
	content: "\e610";
}

.icon-changyongshili:before {
	content: "\e63f";
}

.icon-icon-test:before {
	content: "\e683";
}

.icon-icon-test1:before {
	content: "\e684";
}

.icon-error:before {
	content: "\e619";
}

.icon-detail:before {
	content: "\e7a1";
}

.icon-minus-square:before {
	content: "\e7a2";
}

.icon-plus-square:before {
	content: "\e7a3";
}

.icon-right-square:before {
	content: "\e7a4";
}

.icon-project:before {
	content: "\e7a5";
}

.icon-wallet:before {
	content: "\e7a6";
}

.icon-up-square:before {
	content: "\e7a7";
}

.icon-calculator:before {
	content: "\e7a8";
}

.icon-check-square:before {
	content: "\e7a9";
}

.icon-adduser:before {
	content: "\e7ae";
}

.icon-deleteteam:before {
	content: "\e7af";
}

.icon-deleteuser:before {
	content: "\e7b0";
}

.icon-addteam:before {
	content: "\e7b1";
}

.icon-user:before {
	content: "\e7b2";
}

.icon-team:before {
	content: "\e7b3";
}

.icon-areachart:before {
	content: "\e7b4";
}

.icon-linechart:before {
	content: "\e7b5";
}

.icon-barchart:before {
	content: "\e7b6";
}

.icon-container:before {
	content: "\e7b7";
}

.icon-database:before {
	content: "\e7b8";
}

.icon-sever:before {
	content: "\e7b9";
}

.icon-mobile:before {
	content: "\e7ba";
}

.icon-redenvelope:before {
	content: "\e7bb";
}

.icon-book:before {
	content: "\e7bc";
}

.icon-filedone:before {
	content: "\e7bd";
}

.icon-file-exception:before {
	content: "\e7be";
}

.icon-filesync:before {
	content: "\e7bf";
}

.icon-filesearch:before {
	content: "\e7c0";
}

.icon-solution:before {
	content: "\e7c1";
}

.icon-experiment:before {
	content: "\e7c3";
}

.icon-bell:before {
	content: "\e7c4";
}

.icon-USB:before {
	content: "\e7c5";
}

.icon-home:before {
	content: "\e7c6";
}

.icon-bank:before {
	content: "\e7c7";
}

.icon-like:before {
	content: "\e7c8";
}

.icon-unlike:before {
	content: "\e7c9";
}

.icon-unlock:before {
	content: "\e7ca";
}

.icon-lock:before {
	content: "\e7cb";
}

.icon-customerservice:before {
	content: "\e7cc";
}

.icon-flag:before {
	content: "\e7cd";
}

.icon-folder:before {
	content: "\e7d1";
}

.icon-folder-open:before {
	content: "\e7d2";
}

.icon-folder-add:before {
	content: "\e7d3";
}

.icon-camera:before {
	content: "\e7d7";
}

.icon-cluster:before {
	content: "\e7d8";
}

.icon-cloud-upload:before {
	content: "\e7d9";
}

.icon-cloud:before {
	content: "\e7da";
}

.icon-cloud-download:before {
	content: "\e7db";
}

.icon-cloud-sync:before {
	content: "\e7dc";
}

.icon-video:before {
	content: "\e7dd";
}

.icon-image:before {
	content: "\e7de";
}

.icon-mail:before {
	content: "\e7df";
}

.icon-idcard:before {
	content: "\e7e0";
}

.icon-creditcard:before {
	content: "\e7e1";
}

.icon-star:before {
	content: "\e7e2";
}

.icon-wifi:before {
	content: "\e7e3";
}

.icon-edit:before {
	content: "\e7e4";
}

.icon-key:before {
	content: "\e7e5";
}

.icon-api:before {
	content: "\e7e6";
}

.icon-disconnect:before {
	content: "\e7e7";
}

.icon-link:before {
	content: "\e7e8";
}

.icon-man:before {
	content: "\e7e9";
}

.icon-tags:before {
	content: "\e7ea";
}

.icon-scissor:before {
	content: "\e7eb";
}

.icon-share:before {
	content: "\e7ec";
}

.icon-verticalright:before {
	content: "\e7ed";
}

.icon-verticalleft:before {
	content: "\e7ee";
}

.icon-right:before {
	content: "\e7ef";
}

.icon-left:before {
	content: "\e7f0";
}

.icon-up:before {
	content: "\e7f1";
}

.icon-down:before {
	content: "\e7f2";
}

.icon-fullscreen:before {
	content: "\e7f3";
}

.icon-fullscreen-exit:before {
	content: "\e7f4";
}

.icon-doubleleft:before {
	content: "\e7f5";
}

.icon-doubleright:before {
	content: "\e7f6";
}

.icon-arrowright:before {
	content: "\e7f7";
}

.icon-arrowup:before {
	content: "\e7f8";
}

.icon-arrowleft:before {
	content: "\e7f9";
}

.icon-arrowdown:before {
	content: "\e7fa";
}

.icon-upload:before {
	content: "\e7fb";
}

.icon-download:before {
	content: "\e7fc";
}

.icon-fall:before {
	content: "\e7fd";
}

.icon-swap:before {
	content: "\e7fe";
}

.icon-stock:before {
	content: "\e7ff";
}

.icon-rise:before {
	content: "\e800";
}

.icon-check:before {
	content: "\e801";
}

.icon-close:before {
	content: "\e802";
}

.icon-check-circle-fill:before {
	content: "\e844";
}

.icon-left-circle-fill:before {
	content: "\e845";
}

.icon-down-circle-fill:before {
	content: "\e846";
}

.icon-minus-circle-fill:before {
	content: "\e847";
}

.icon-close-circle-fill:before {
	content: "\e848";
}

.icon-info-circle-fill:before {
	content: "\e849";
}

.icon-up-circle-fill:before {
	content: "\e84a";
}

.icon-right-circle-fill:before {
	content: "\e84b";
}

.icon-plus-circle-fill:before {
	content: "\e84c";
}

.icon-question-circle-fill:before {
	content: "\e84d";
}

.icon-poweroff-circle-fill:before {
	content: "\e84e";
}

.icon-play-circle-fill:before {
	content: "\e84f";
}

.icon-warning-circle-fill:before {
	content: "\e850";
}

.icon-time-circle-fill:before {
	content: "\e851";
}

.icon-piechart-circle-fil:before {
	content: "\e852";
}

.icon-message-fill:before {
	content: "\e853";
}

.icon-appstore-fill:before {
	content: "\e854";
}

.icon-comment:before {
	content: "\e8e8";
}

.icon-caret-down:before {
	content: "\e8ec";
}

.icon-backward:before {
	content: "\e8ed";
}

.icon-caret-up:before {
	content: "\e8ee";
}

.icon-caret-right:before {
	content: "\e8ef";
}

.icon-caret-left:before {
	content: "\e8f0";
}

.icon-fast-backward:before {
	content: "\e8f1";
}

.icon-forward:before {
	content: "\e8f2";
}

.icon-fast-forward:before {
	content: "\e8f3";
}

.icon-search:before {
	content: "\e8f4";
}

.icon-step-backward:before {
	content: "\e8f5";
}

.icon-step-forward:before {
	content: "\e8f6";
}

.icon-woman:before {
	content: "\e8f7";
}

.icon-eye-close:before {
	content: "\e8ff";
}

.icon-compress:before {
	content: "\e914";
}

.icon-expend:before {
	content: "\e915";
}

.icon-check-circle:before {
	content: "\e77d";
}

.icon-close-circle:before {
	content: "\e77e";
}

.icon-info-circle:before {
	content: "\e77f";
}

.icon-left-circle:before {
	content: "\e780";
}

.icon-down-circle:before {
	content: "\e781";
}

.icon-minus-circle:before {
	content: "\e782";
}

.icon-plus-circle:before {
	content: "\e783";
}

.icon-play-circle:before {
	content: "\e784";
}

.icon-question-circle:before {
	content: "\e785";
}

.icon-right-circle:before {
	content: "\e786";
}

.icon-time-circle:before {
	content: "\e787";
}

.icon-timeout:before {
	content: "\e788";
}

.icon-earth:before {
	content: "\e789";
}

.icon-up-circle:before {
	content: "\e78a";
}

.icon-warning-circle:before {
	content: "\e78b";
}

.icon-sync:before {
	content: "\e78c";
}

.icon-undo:before {
	content: "\e78d";
}

.icon-redo:before {
	content: "\e78e";
}

.icon-reload:before {
	content: "\e78f";
}

.icon-message:before {
	content: "\e790";
}

.icon-poweroff:before {
	content: "\e791";
}

.icon-setting:before {
	content: "\e792";
}

.icon-eye:before {
	content: "\e793";
}

.icon-location:before {
	content: "\e794";
}

.icon-edit-square:before {
	content: "\e795";
}

.icon-export:before {
	content: "\e796";
}

.icon-save:before {
	content: "\e797";
}

.icon-Import:before {
	content: "\e798";
}

.icon-appstore:before {
	content: "\e799";
}

.icon-close-square:before {
	content: "\e79a";
}

.icon-down-square:before {
	content: "\e79b";
}

.icon-layout:before {
	content: "\e79c";
}

.icon-left-square:before {
	content: "\e79d";
}

.icon-play-square:before {
	content: "\e79e";
}

.icon-control:before {
	content: "\e79f";
}

.icon-codelibrary:before {
	content: "\e7a0";
}
