<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Title</title>
		<style>
			.ani-tr {
				width: 200px;
				height: 200px;
				background-color: #00ffff;
				border-radius: 50%;
				animation-name: aniRotate;
				animation-duration: 1s;
				animation-play-state: running;
				animation-iteration-count: infinite;
			}
			@keyframes aniRotate {
				0% {
					transform: rotate(0deg);
				}

				100% {
					transform: rotate(360deg);
				}
			}
		</style>
	</head>
	<body>
		<div class="ani-tr">111</div>
	</body>
</html>
