// 优化显示
:root {
	--re-color-white: $color-white;
	--re-bg-main-color: #f8f8f8;
	--re-bg-color: #f5f5ff;
	--re-border-color-light: #f1f2f3;
	--re-color-primary-lighter: #ecf5ff;
	--re-color-success-lighter: #f0f9eb;
	--re-color-warning-lighter: #fdf6ec;
	--re-color-danger-lighter: #fef0f0;
	--re-color-dark-hover: #0000001a;
	--re-color-menu-hover: rgba(0, 0, 0, 0.2);
	--re-color-user-hover: rgba(0, 0, 0, 0.04);
	--re-color-seting-main: #e9eef3;
	--re-color-seting-aside: #d3dce6;
	--re-color-seting-header: #b3c0d1;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
  font-family: "PingFangSC-Regular", "PingFang", "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
	font-size: 16px;
	font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: transparent;
	background-color: var(--re-bg-main-color);
	overflow: hidden;
  #app {
    @extend %full;
    a {
      text-decoration: none;
    }
  }
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1rem;
}
@media only screen and (min-width: 1366px){
  html {
    font-size: 94%!important;
  }
}
@media only screen and (min-width: 1600px){
  html {
    font-size: 109%!important;
  }
}
@media only screen and (min-width: 1920px){
  html {
    font-size: 125%!important;
  }
}
