// 主色
$color-primary: #409EFF;

// 辅助色
$color-info: #909399;
$color-success: #67C23A;
$color-warning: #E6A23C;
$color-danger: #F56C6C;

// 文字
$color-text-main: #303133;
$color-text-sub: #909399;
$color-text-normal: #606266;
$color-text-placehoder: #C0C4CC;

// 边框
$color-border-white: #ffffff;
$color-border-black: #000000;

// 背景
$color-bg-white: #ffffff;
$color-bg-black: #000000;
