@use "root.scss";

#nprogress {
	.bar {
		background: var(--re-np-color) !important;
		z-index: 99999 !important;
	}
	.peg {
		box-shadow: 0 0 10px var(--re-np-color), 0 0 5px var(--re-np-color) !important;
	}
}
