/*
注意点
	0、注意在scss中无法使用变量对应变量对应值，只能变量对应一个确定的值
	1、舍弃 @import & @extend 改为 @use & @mixin @include
	2、@while 尽量配合 @function 使用，单独定义适用 @each & @for
	3、@each 迭代固定数组，@for 迭代一个上限值
*/
@use "sass:meta";
// ****全局style，重置、定义，顺序不可以更换****
// 重置
@use "./common/reset.scss";
// 声明
@use "./common/declare.scss";
// 公共css定义
@use "./common/public.scss";
// ****自定义style，包括对三方的重写****
// 基础布局
//@include meta.load-css("./common/layout.scss");
@use "./common/layout.scss";
// UI element
//@include meta.load-css("./custom/ui.scss");
@use "./custom/ui.scss";
// 动画
//@include meta.load-css("./custom/animate.scss");
@use "./custom/animate.scss";
// 进度条
//@include meta.load-css("./custom/n-progress.scss");
@use "./custom/n-progress.scss";
// 流程图
//@include meta.load-css("./custom/bpmn.scss");
@use "./custom/bpmn.scss";
//@include meta.load-css("./custom/common.scss");
@use "./custom/common.scss";

// page
@use "./page/index.scss";
