input:focus {
	outline: none;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
	-webkit-text-fill-color: #fff !important;
	-webkit-box-shadow: 0 0 0 1000px transparent inset !important;
	box-shadow: 0 0 0 1000px transparent inset !important;
	background-color: transparent;
	background-image: none;
	transition: background-color 50000s ease-in-out 0s;
}

input:-internal-autofill-previewed,
input:-internal-autofill-selected {
	width: 100%;
	height: 50px;
	color: #ffffff;
	font-family: "Barlow", sans-serif;
	font-size: 20px;
	background: transparent;
	box-shadow: none;
	border: none;
	outline: none;
}
