// 默认重写的颜色
$--colors: (
  "white": #ffffff,
  "black": #000000,
  "primary": (
    "base": #409eff,
  ),
  "success": (
    "base": #67c23a,
  ),
  "warning": (
    "base": #e6a23c,
  ),
  "danger": (
    "base": #db2828,
  ),
  "error": (
    "base": #db2828,
  ),
  "info": (
    "base": #909399,
  ),
);

// 我们可以将其添加到自定义命名空间中, 默认值 'el'
@forward "element-plus/theme-chalk/src/mixins/config.scss" with (
  $namespace: "el"
);

// 你应该在 scss 中使用它们, 因为我们是通过 sass 计算的
@forward "element-plus/theme-chalk/src/common/var.scss" with (
  // 不要使用相同的名称，它将覆盖
  $colors: $--colors,
  $button-padding-horizontal: ("default": 50px)
);

// 如果要全部导入
@use "element-plus/theme-chalk/src/index.scss" as *;
@use "element-plus/theme-chalk/dark/css-vars.css" as *;

// 您可以对其进行注释以隐藏调试信息
// @debug $--colors;

// 自定义变量
@use "./theme-dark.scss";
