$prefix: re;

// 与主题无关的变量，切换主题不改变
// 定义项目全局 --re-color/text/bg/border-[value]
// 定义模块 --re-[dir]-color/text/bg/border
:root {
	--re-np-color: #409eff;
	--re-color-white: #ffffff;
	--re-bg-main-color: #f8f8f8;
	--re-bg-color: #f5f5ff;
	--re-border-color-light: #f1f2f3;
	--re-color-primary-lighter: #ecf5ff;
	--re-color-success-lighter: #f0f9eb;
	--re-color-warning-lighter: #fdf6ec;
	--re-color-danger-lighter: #fef0f0;
	--re-color-dark-hover: #0000001a;
	--re-color-menu-hover: rgba(0, 0, 0, 0.2);
	--re-color-user-hover: rgba(0, 0, 0, 0.04);
	--re-color-seting-main: #e9eef3;
	--re-color-seting-aside: #d3dce6;
	--re-color-seting-header: #b3c0d1;
}

// 色值定义
$color-primary: #409eff;
$color-white: #ffffff;
$color-white-ghost: #f8f8ff;
$color-white-smoke: #f5f5f5;
$color-black: #000000;
$color-grey: #bebebe;
$color-red: #ff0000;

// 自定义色值，不常用的、特有的、针对性的
$color-re-re: #123123;

// 文本颜色
$text-link: #5677fc;
$text-default: #fff;
$text-primary: #000;
$text-success: #03c03c;
$text-error: #e34234;
$text-waring: #ff9933;
$text-placeholder: #ccc;
$text-prohibit: #8a8a8a;

// 按钮颜色
$btn-default: #fff;
$btn-success: #03c03c;
$btn-error: #e34234;
$btn-waring: #ff9933;

// 边框颜色
$border-error: #e34234;
$border-waring: #ff9933;

// 可点击颜色
$link-success: #03c03c;

// 项目共有的宽高设定
$header-height: 60px;
$menu-width: 200px;
$menu-height: calc(100vh - 60px);
$menu-collapse-width: 64px;
$menu-item-height: 50px;

// 定位的值，只需要从这里取值或者修改
$z-index-max: 99999;
$z-index-min: -1;
$z-index-1: 1000;
$z-index-2: 2000;
$z-index-3: 3000;
$z-index-4: 4000;
$z-index-5: 5000;
$z-index-6: 6000;
$z-index-7: 7000;
$z-index-8: 8000;
$z-index-9: 9000;

// 禁止用户选中
@mixin unable-select {
	user-select: none;
}

// 填满父元素 position: relative | absolute;
@mixin full {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

// 文字 居中 左 右
@mixin text-center {
	text-align: center;
}
@mixin text-left {
	text-align: left;
}
@mixin text-right {
	text-align: right;
}

// 填充 宽高
@mixin wh-full {
	width: 100vw;
	height: 100vh;
}
@mixin width-full {
	width: 100vw;
}
@mixin height-full {
	height: 100vh;
}
@mixin wh-fill {
	width: 100%;
	height: 100%;
}
@mixin width-fill {
	width: 100%;
}
@mixin height-fill {
	height: 100%;
}

// flex 垂直水平居中 两端对齐
@mixin flex-base {
	display: flex;
}
@mixin flex-row-center {
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
@mixin flex-col-center {
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

// 将元素模拟成卡片外观
@mixin card {
	//border: 1px solid $color-border-white;
	background: #fff;
	border-radius: 4px;
	font-size: 14px;
	position: relative;
}
